.ItemCounter {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.ItemCounter .contador {
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCounter .Contador input {
  width: 25%;
  margin: 0 10px;
  height: 30px;
}

.AddCart button {
  width: 16%;
  display: block;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid purple;
  border-radius: 0.5em;
  font-size: 0.8em;
}
