.ItemCounter {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.ItemCounter .contador {
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCounter .Contador input {
  width: 25%;
  height: 41px;
  border: 1px solid purple;
  border-radius: 0.8em;
  vertical-align: text-bottom;
  margin: 0 10px;
  text-align: center;
  margin-left: 15px;
}

.Contador button {
  width: 18%;
  margin: auto;
  margin-top: 0.8em;
  padding: 0.4em;
  border: 1px solid purple;
  border-radius: 0.8em;
  font-size: 0.7em;
  vertical-align: text-bottom;
}
