.header {
  margin: auto;
  display: flex;
}
.toolbar {
  height: 90px;
  max-width: 95%;
  display: inline-block;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}

.toolbar div {
  display: flex;
}
.toolbar button {
  margin-right: 2.5em;
  color: white;
  font-size: 1em;
}

.links-nav {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}
